body {
  overflow: hidden;
  --color-text: #fff;
  --color-bg: #000;
  --color-link: #4b4b4b;
  --color-link-hover: #fff;
  color: var(--color-text);
  background-color: var(--color-bg);
  font-family: laca-text, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.n {
  position: absolute;
  top: 100px;
  width: 10px;
  height: 10px;
  background-color: aliceblue;
}

.n1 {
  top: 200px;
}

.n2 {
  top: 300px;
}

.n3 {
  top: 400px;
}

.n4 {
  top: 500px;
}

#block {
  height: 100px;
  width: 100px;
  background-color: coral;
  position: absolute;
}